<a href="https://colab.research.google.com/github/maxlee9185/AIstudy.github.io/blob/master/machineLearning_lemonade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# 파일로부터 데이터 읽어오기
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레모네이드 = pd.read_csv(파일경로)

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
 
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)

In [ ]:
#데이터의 모양 확인
print(레모네이드.shape)
print(보스턴.shape)
print(아이리스.shape)

(6, 2)
(506, 14)
(150, 5)

In [ ]:
#칼럼 이름 출력
print(레모네이드.columns)
print(보스턴.columns)
print(아이리스.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [ ]:
독립 = 레모네이드[['온도']]
종속 = 레모네이드[['판매량']]
print(독립.shape, 종속.shape)

독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

독립 = 아이리스[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 아이리스[['품종']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

In [ ]:
레모네이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
#라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
#데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
데이터 = pd.read_csv(파일경로)
데이터.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
#종속변수, 독립변수
독립= 데이터[['온도']]
종속=데이터[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [ ]:
#모델을 만들기
X=tf.keras.layers.Input(shape=[1])
Y=tf.keras.layers.Dense(1)(X)
model=tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [ ]:
#모델학습
model.fit(독립,종속,epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 2ms/step - loss: 1.8487e-04
Epoch 2/10
1/1 [==============================] - 0s 2ms/step - loss: 1.8474e-04
Epoch 3/10
1/1 [==============================] - 0s 3ms/step - loss: 1.8461e-04
Epoch 4/10
1/1 [==============================] - 0s 1ms/step - loss: 1.8457e-04
Epoch 5/10
1/1 [==============================] - 0s 1ms/step - loss: 1.8457e-04
Epoch 6/10
1/1 [==============================] - 0s 1ms/step - loss: 1.8463e-04
Epoch 7/10
1/1 [==============================] - 0s 5ms/step - loss: 1.8463e-04
Epoch 8/10
1/1 [==============================] - 0s 4ms/step - loss: 1.8457e-04
Epoch 9/10
1/1 [==============================] - 0s 2ms/step - loss: 1.8453e-04
Epoch 10/10
1/1 [==============================] - 0s 8ms/step - loss: 1.8450e-04

In [ ]:
#모델을 이용합니다
model.predict(독립)

array([[40.020855],
       [42.017406],
       [44.01396 ],
       [46.010513],
       [48.007065],
       [50.00362 ]], dtype=float32)

In [ ]:
종속

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [ ]:
model.predict([[15]])

array([[30.03809]], dtype=float32)